<table class="bordo">
  <tr class="bordo">
    <td class="bordo">Prova Component title</td>
  </tr>
  <tr class="bordo">
    <table class="bordo">
      <tr class="bordo">
        <td class="bordo">
          Riga 1
        </td>
        <td class="bordo">
            Riga 2
          </td>
      </tr>
    </table> 
  </tr> 
</table>  