<!-- Box generale con direction="col" -->

<dx-box class="Generale1" (click)="cambiaCheck()" direction="col" height="100%" width="100%">
        <!-- Prima riga: Titolo -->
        <dxi-item class="Generale" [ratio]="10">
            <dx-box class="Generale" direction="row" width="100%">
              <dxi-item class="Generale" [ratio]="43">Primo </dxi-item>
              <dxi-item class="Generale" [ratio]="14">Secondo</dxi-item>
              <dxi-item class="Generale" [ratio]="43">Terzo</dxi-item>
            </dx-box>
        </dxi-item>
        <!-- Seconda riga: Spazio -->
        <dxi-item class="Generale" [ratio]="5"> </dxi-item>
        <!-- Terza riga: Prima serie di dati -->
        <dxi-item class="Generale" [ratio]="15"> 
            <dx-box class="Generale" direction="row" width="100%">
                <dxi-item class="Generale" [ratio]="5"></dxi-item>
                <dxi-item class="Generale" [ratio]="15">Anagrafiche Unico PF</dxi-item> 
                <dxi-item class="Generale" [ratio]="2"></dxi-item>
                <dxi-item class="Generale"[ratio]="2">
                    <dx-check-box [value]="check1"></dx-check-box>
                </dxi-item>
                <dxi-item class="Generale" [ratio]="15"></dxi-item>
                <dxi-item class="Generale" [ratio]="5"></dxi-item>
                <dxi-item class="Generale" [ratio]="20">Anagrafiche Unico SP</dxi-item>
                <dxi-item class="Generale" [ratio]="2"></dxi-item>
                <dxi-item class="Generale"[ratio]="2">
                      <dx-check-box [value]="check2"></dx-check-box>
                </dxi-item>
                <dxi-item class="Generale" [ratio]="27"></dxi-item>
            </dx-box>
        </dxi-item>
        <!-- Quarta riga: Spazio -->
        <dxi-item class="Generale" [ratio]="5"> </dxi-item>
        <!-- Quinta riga: Seconda serie di dati -->
        <dxi-item class="Generale" [ratio]="15"> 
            <dx-box class="Generale" direction="row" width="100%">
                <dxi-item class="Generale" [ratio]="5"></dxi-item>
                <dxi-item class="Generale" [ratio]="15">Anagrafiche Unico SC</dxi-item> 
                <dxi-item class="Generale" [ratio]="2"></dxi-item>
                <dxi-item class="Generale"[ratio]="2">
                    <dx-check-box [value]="check3"></dx-check-box>
                </dxi-item>
                <dxi-item class="Generale" [ratio]="15"></dxi-item>
                <dxi-item class="Generale" [ratio]="5"></dxi-item>
                <dxi-item class="Generale" [ratio]="20">Anagrafiche Unico ENC</dxi-item>
                <dxi-item class="Generale" [ratio]="2"></dxi-item>
                <dxi-item class="Generale"[ratio]="2">
                      <dx-check-box [value]="check4"></dx-check-box>
                </dxi-item>
                <dxi-item class="Generale" [ratio]="27"></dxi-item>
            </dx-box>
        </dxi-item>
        <!-- Sesta riga riga: Spazio finale/Pie di pagina -->
        <dxi-item class="Generale" [ratio]="30"> 
        </dxi-item>  
      </dx-box>